@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;500;900&display=swap');

body {
    background-color: #353338;
    color: #845ec2
}

h1 {
    font-family: 'Inconsolata', monospace;
    font-weight: 900;
    color: dodgerblue;
    margin: 2em auto;
    text-align: center;
    font-size: 3rem;
}

input {
    display: block;
    margin: 1em auto;
    border: none;
    padding: 0;
    width: 5.9ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/ 10ch 2px no-repeat;
    font: 5ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    color: #845ec2;
    transition: ease-in 0.5s;
  }

  input:focus {
    outline: none;
    color: dodgerblue;
  }